.section__articles {
  padding: 5.5rem var(--section-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section__articles .container {
  overflow: hidden;

  margin-top: 1.9375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  list-style-type: none;
}
.article {
  width: 100%;
  background-color: var(--white);

  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: 0 0 5px 5px;
  text-decoration: none;
}
.article--image {
  width: 100%;
  aspect-ratio: 316/200;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}
.article--author {
  font-size: 0.625rem;
  line-height: 1.125rem;
  font-weight: var(--fw-medium);
  letter-spacing: -0.01rem;
  color: var(--greyish--blue);

  margin: 0 var(--section-padding);
  margin-top: var(--section-padding);
}
.article--heading {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: var(--fw-light);
  letter-spacing: -0.018125rem;
  color: var(--dark);

  margin: 0 var(--section-padding);
  margin-top: 0.5rem;
  transition: var(--transition-1);
}
.article--shortContent {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: var(--fw-medium);
  letter-spacing: -0.0125rem;
  color: var(--greyish--blue);

  margin: 0 var(--section-padding);
  margin-top: 0.5rem;
  margin-bottom: 2.75rem;
}

@media (hover: hover) and (pointer: fine) {
  .article--heading:hover {
    color: var(--green);
  }
}

@media screen and (min-width: 550px) {
  .section__articles {
    align-items: start;
  }
  .section__articles .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: start center;
  }
  .article {
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 900px) {
  .section__articles {
    padding: 5rem var(--section-padding);
  }

  .section__articles .container {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1.875rem;
    place-items: start center;
  }
  .article--image {
    aspect-ratio: 255/200;
  }
  .article {
    width: 100%;
    height: 100%;
  }
}
